body{
    background-color: #333;
}
.section{
    display: flex;
    flex-direction: row;
    background-color:#333;
    justify-content:space-around;
}
.nav{
    /* background-color: black; */
    width:100px;
}
img{
    width: 70px;
}
.content{
    width: 100%;
    text-align: right;
    padding: 10px;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 10px;
}
a:hover{
    color: blueviolet;
}
@media screen and (max-width: 600px) {
    .section{
        background-color:#333;
        justify-content:space-around;
        flex-wrap:wrap;
        flex-direction:column;
    }
    .nav{
        /* background-color: black; */
       margin-right: 400px;
    }
    .content{
        text-align:center;
    }
  }
  .section1{
    text-align: center;
    margin-top: 100px;
  }
  h1,p{
    color: white;
  }
  button{
    background-color: blueviolet;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 2%;
  }

  button:hover{
    background-color: rgb(123, 12, 226);
  }
  